<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExcelSheetPath" value="C:\Users\sookeke\Downloads\ODA_BC_v1\PAM3.xlsx" />
    <!--Data classifcation spreasheet path. if Network Drive, use full UNC path-->
    <add key="TestJson" value="C:\Users\sookeke\DataMasker-Dotnetcore5\DataMasker.Main\bin\Debug\net5.0\win-x64\classification-configs\test.json" />
    <!--Have a test Json full path to work on - Ignore if not-->
    <add key="RunTestJson" value="Yes" />
    <!--Always Set this No if you do not have test Json [Yes/No]-->
    <add key="DatabaseName" value="PAIMS" />
    <!--Database name-->
    <add key="WriteDML" value="Yes" />
    <!--Generate DML? [Yes/No]-->
    <add key="MaskedCopyDatabase" value="No" />
    <!--Mask database or tst copy? [Yes/No]-->
    <add key="RunValidation" value="Yes" />
    <!-- RUN data masking validation test? [Yes/No]-->
    <add key="RunValidationONLY" value="No" />
    <!-- RUN only validation between two data source without masking [Yes/No]-->
    <add key="EmailValidation" value="Yes" />
    <!--Send validation test report as email? [Yes/No]-->
    <add key="MaskTabletoSpreadsheet" value="Yes" />
    <!--Generate masked tables as spreadsheet? [Yes/No]-->
    <add key="Hostname" value="kangaroo.th.gov.bc.ca" />
    <!--Server or host name-->
    <add key="DataSourceType" value="OracleServer" />
    <!--Value = SqlServer for MS Sql Server and PostgresServer, SpreadSheet, OracleServer, MySQLServer-->
    <add key="APP_NAME" value="APP_PAM" />
    <add key="PreviewCount" value="50" />
    <!--max of 6 columns will be preview-->
    <add key="Fetch" value="100000" />
    <!--for big dataset > 100000, fetch in parallel-->
    <!--Database name here. use this APP_NAME in exception path config-->
    <!--schema name here-->
    <!--ConnectionString to Masked copy here-->
    <!--<add key="ConnectionString" value="H:\Masking_sample\Litigation Management System - 20190910 Export (3).xlsx" />-->
    <!--connectionstring for SpreadSheet masking. DataSourceType must be SpreadSheet. The Value must be the UNC Path of the SpreadSheet location-->
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = kangaroo.th.gov.bc.ca)(PORT = 20208))(CONNECT_DATA = (SERVICE_NAME=DBA05)));User id=APP_PAM_MASKED; Password =fishp00l;" />
    <!--ConnectionString to Mask copy here-->
    <!--<add key="ConnectionString" value="Data Source=BB8; Initial Catalog=PIMS_LIS_copy;Integrated Security=True;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--for sqlserver-->
    <!--<add key="ConnectionString" value="Server=127.0.0.1;User Id=postgres; Password={0};Database=masking_sample;" />-->
    <!--For MySQL-->
    <!--<add key="ConnectionString" value="Server=127.0.0.1;uid=root; pwd={0}; Database=public;" />-->
    <!--For Postgres SQL-->
    <!--ConnectionString to PRD copy here-->
    <!--<add key="ConnectionStringPrd" value="H:\Masking_sample\Litigation Management System - 20190910 Export (3).xlsx" />-->
    <!--<add key="ConnectionStringPrd" value="Data Source=mssqldev.th.gov.bc.ca; Initial Catalog=Accural_ATS;Integrated Security=True;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--<add key="ConnectionStringPrd" value="Server=127.0.0.1;uid=root; pwd={0}; Database=public;" />-->
    <!--<add key="ConnectionStringPrd" value="Server=127.0.0.1;User Id=postgres; Password={0};Database=masking_sample;" />-->
    <!--<add key="ConnectionStringPrd" value="Data Source=sql.th.gov.bc.ca; Initial Catalog=LIS_Prd;Integrated Security=True;Connect Timeout=0;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--for sqlserver-->
    <add key="ConnectionStringPrd" value="Data Source=(DESCRIPTION=(ADDRESS = (PROTOCOL = TCP)(HOST = kangaroo.th.gov.bc.ca)(PORT = 20208))(CONNECT_DATA = (SERVICE_NAME=DBA05)));User id=APP_PAM_MASKED; Password =fishp00l;" />
    <!--ConnectionString to PRD copy here-->
    <!--

    -->
    <!--Mail configuration Do not uncomment mail paramaters if not in use-->
    <add key="fromEmail" value="stanley.okeke@gov.bc.ca" />
    <!--put your govt. email address here-->
    <!--Sender Email Address, must be logged in to outlook-->
    <add key="RecipientEmail" value="stanley.okeke@gov.bc.ca;stan25g@hotmail.com" />
    <add key="cCEmail" value="" />
    <add key="attachDML" value="No" />
    <!--[Yes/No]-->
    <add key="attachMaskException" value="Yes" />
    <!--[Yes/No]-->
    <add key="attachSpreadsheet" value="Yes" />
    <!--[Yes/No]-->
    <!--exception path config-->
    <add key="_exceptionpath" value="\Output\APP_HWY_exception.txt" />
    <!--Format is \output\[Databasename]_exception.txt-->
    <add key="_successfulCommit" value="\Output\DataMasking_successfulcommit.txt" />
    <!--Format is \output\[Databasename]_successfulCommit.txt-->
    <!--Auto-update config-->
    <!--test autoupdate-->
    <add key="AutoUpdate" value="No" />
    <add key="CurrentVersionURL" value="https://projects.sp.th.gov.bc.ca/guidelines/data_masking/Shared%20Documents/Version.txt" />
    <add key="CurrentInstallerURL" value="https://projects.sp.th.gov.bc.ca/guidelines/data_masking/Shared%20Documents/DataMaskerInstaller.rar" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
   
  
</configuration>