<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="28.3.1" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="ChoETL" version="1.1.0.4" targetFramework="net461" />
  <package id="CommandLineParser" version="2.6.0" targetFramework="net461" />
  <package id="CompareNETObjects" version="4.63.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="FakeTextGenerator" version="1.0.2" targetFramework="net461" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net461" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net461" />
  <package id="Goblinfactory.Konsole" version="3.3.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Http" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net461" />
  <package id="MimeKit" version="2.3.1" targetFramework="net461" />
  <package id="morelinq" version="3.2.0" targetFramework="net461" />
  <package id="MsgKit" version="2.3.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net461" />
  <package id="NetTopologySuite" version="2.0.0" targetFramework="net461" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.3" targetFramework="net461" />
  <package id="NetTopologySuite.Core" version="1.15.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.11" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="5.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="OpenMcdf" version="2.2.1.3" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="SharpCompress" version="0.25.1" targetFramework="net461" />
  <package id="SoapHttpClient" version="3.0.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.CodeDom" version="4.6.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Z.Dapper.Plus" version="2.0.2" targetFramework="net461" />
</packages>